/*---------------------------------------*/
/*MAIN*/
/*---------------------------------------*/
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lato', 'Arial', sans-serif;
	font-size: 20px;
	font-weight: 300;
	text-rendering: optimizeLegibility;
	overflow-x: hidden;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
}

/*section {
	height: 550px;
}*/

section {
	padding: 40px 0;
}

/*---------------------------------------*/
/*HEADER*/
/*---------------------------------------*/

.hero	{
	background-image: url(../images/hero_img.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
}

.nav {
	float: right;
}

.nav li {
	list-style: none;
	display: inline-block;
	margin-top: 25px;
}

.nav li a {
	text-decoration: none;
	margin-left: 25px;
	color: #fff;
	font-weight: 400;
}

.nav li a:hover {
	border-bottom: 2px solid #fff;
	margin-bottom: 10px;
}

.tag {
	color: #fff;
	text-align: center;
	padding-top: 140px;
}

.tagline {
	font-family: Times, Georgia, serif;
	font-size: 180%;
	font-weight: bold;
	font-style: oblique;
	/*opacity: 0.8;*/
}

.tagline:last-of-type {
	margin-top: -25px;
}

.btn {
	display: inline-block;
	color: #fff;
	text-decoration: none;
	border: 2px solid #fff;
	border-radius: 15px;
	cursor: pointer;
	font-size: 18px;
	font-weight: bold;
	padding: 10px 30px;
	margin-right: 10px;
}

.btn:hover {
	background-color: #fff;
	color: #a27452;
	opacity: 0.7;
}

/*---------------------------------------*/
/*ICON SECTION*/
/*---------------------------------------*/
.icons {
	color: #555;
	display: block;
	margin-bottom: 10px;
	height: 500px;
/*	padding: 40px 0;
	height: 450px;*/
}

.icons h2 {
	text-align: center;
	/*padding: 2%;*/
}

.icons img {
	height: 65px;
	margin-top: 30px;
}

.p-icons {
	width: 80%;
	margin-left: 10%;
	margin-bottom: 25px;
}

.icons p {
	font-size: 80%;
	/*padding: 1%;*/
}

/*---------------------------------------*/
/*TESTIMONIAL*/
/*---------------------------------------*/

.testimonial	{
	background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url(../images/eclectic-kitchen.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 350px;
	color: #fff;
	padding-bottom: 50px;
}

.testimonial h2 {
	text-align: center;
	font-weight: lighter;
}

blockquote {
	padding: 2%;
	font-style: italic;
	line-height: 125%;
	position: relative;
	font-size: 90%;
}

blockquote:before {
	content: "\201C";
	font-size: 350%;
	display: block;
	position: absolute;
	top: -5px;
	left: -10px;
}

cite {
	font-size: 85%;
	/*margin-top: 20px;*/
	display: block;
}

cite img {
	height: 60px;
	border-radius: 50%;
	margin: 30px 20px;
	vertical-align: middle;
}
/*---------------------------------------*/
/*FORM-MAP*/
/*---------------------------------------*/

.form-map {
	height: 550px;
}

.form-map h2 {
	text-align: center;
	padding: 15px 0;
}

.form {
	float: left;
}

.contact-form {
	width: 550px;
}

input[type=text],
input[type=email],
select,
textarea {
	width: 100%;
	padding: 5px;
	border-radius: 2px;
}

.map {
	float: right;
}

/*---------------------------------------*/
/*PHOTO GRID*/
/*---------------------------------------*/

.photo-showcase {
	list-style: none;
	width: 100%;
	margin: 0;
	padding: 0;
}

.photo-showcase li {
	display: block;
	float: left;
	width: 20%;
	height: 165px;
}

.dessert-photo {
	width: 100%;
	margin: 0;
	overflow: hidden;
	background-color: #000;
}

.dessert-photo img {
	width: 100%;
	height: auto;
	opacity: 0.7;
	transform: scale(1.15);
	transition: transform 0.5s, opacity 0.5s;
}

.dessert-photo img:hover {
	opacity: 1;
	transform: scale(1.03);
}




